:root {
	--first_color: #243a73;
	--second_color: #a5becc;
	--third_color: #7c3e66;
	--white: #f2ebe9;
	--black: rgba(0, 0, 0, 1);
}
/* -----RESETEO DE ESTILOS------ */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
/* -----RESETEO DE ESTILOS------ */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
}
ul {
	list-style: none;
}
/* ----------------ESTILOS GLOBALES------------------------------ */
html {
	font-family: Tahoma, sans-serif;
}

p {
	text-align: justify;
}
p span {
	font-weight: 800;
}

/* -----Baara de navegación------- */
.nav {
	position: sticky;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: black;
	align-items: center;
	height: 30px;
}
.nav-boton {
	color: var(--white);
}
.nav-boton:hover {
	text-shadow: 0 0 5px #f2ebe9;
	transform: scale(1.02);
}
/* --------Header --------*/
.header {
	display: flex;
	height: 12vh;
	background: linear-gradient(
		117deg,
		rgba(36, 58, 115, 1) 30%,
		rgba(242, 235, 233, 1) 90%
	);
	justify-content: center;
	align-items: center;
}

.header h1 span {
	font-family: "Rajdhani", sans-serif;
	font-size: 5rem;
	color: var(--white);
}
/*-----------Datos Personales-----------  */
.datos_personales {
	position: sticky;
	top: 30px;
	height: 40px;
	overflow: hidden;
	background-color: var(--white);
}

.datos_personales-title {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 2%;
	height: 40px;
}
.datos_personales-title svg {
}

.datos_personales_body {
	display: flex;
	flex-direction: column;
}

.datos_personales_img {
	margin: 15%;
	margin-top: 5%;
	margin-bottom: 5%;
	height: 1%;
	border-radius: 50%;
}

.datos_personales-item {
	padding: 10px;
	text-align: justify;
}

.datos_personales-item strong {
	font-size: 1rem;
	text-decoration: underline;
}
.datos_personales_show {
	height: fit-content;
}
/* --------------CONTENIDO PRiNCIPAL -------------- */

/* ------------HACERCA DE MI------------- */

.main {
	padding: 10px;
}
.main_presentation {
	padding: 15px;
	height: 35vh;
	overflow: scroll;
	text-align: center;
	font-size: large;
}
.main_presentation-text {
	padding: 5%;
	text-align: justify;
	font-weight: 400;
}
/* -------Skills---------- */
.skills_content {
	padding: 10px;
	display: flex;
	flex-direction: column;
}
.skills_content-skill {
	display: flex;
	justify-content: center;
}

.skills_content-skill p {
	font-size: 1rem;
	padding: 4%;
}
.skills_content_soft h3,
.skills_content_hard h3,
.skills_content_learn h3 {
	display: flex;
	font-size: 2rem;
	justify-content: center;
	margin: 10px;
	width: 100%;
}
.skills_content-skill svg {
	fill: var(--first_color);
	width: 100%;
}
.skills_content-skill svg path {
	transform: scale(2);
}
.skills_content_hard .skills_content-skill p,
.skills_content_learn .skills_content-skill p {
	font-weight: 600;
}

/* --------Soft Skills --------*/
.skills_content_soft {
	display: flex;
	flex-direction: column;
}

.skills_content-skill img {
	width: 35%;
	align-self: center;
}
/* ---------Hard Skills --------*/
.skills_content_hard {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.skills_content_hard .skills_content-skill {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 33%;
	height: 15vh;
	margin-bottom: 0;
}

/* ------------------learn----------- */
.skills_content_learn {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.skills_content_learn .skills_content-skill {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 33%;
	height: 15vh;
	margin-bottom: 0;
}
/* ---------Formulario----------------- */
.contact_form {
}
/* ----------ANIMACIONES------------- */
