:root {
	--first_color: #243a73;
	--second_color: #a5becc;
	--third_color: #7c3e66;
	--white: #f2ebe9;
	--black: rgba(0, 0, 0, 1);
	--grey: rgb(207, 206, 206);
}

/* ----------------ESTILOS GLOBALES------------------------------ */
html {
	font-family: Tahoma, sans-serif;
	scroll-behavior: smooth;
}

p {
	text-align: justify;
}
p span {
	font-weight: 800;
}

/* -----Baara de navegación------- */
.nav {
	top: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: black;
	align-items: center;
	height: 30px;
	width: 100%;
	position: fixed;
	z-index: 100;
}
.nav-boton {
	color: var(--white);
}
.nav-boton:hover {
	text-shadow: 0 0 5px #f2ebe9;
	transform: scale(1.02);
}
/* --------Header --------*/
.header {
	display: flex;
	height: 95px;
	background: linear-gradient(
		117deg,
		rgba(36, 58, 115, 1) 30%,
		rgba(242, 235, 233, 1) 90%
	);
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 30px;
	width: 100%;
	z-index: 1000;
}

.header h1 span {
	font-family: "Rajdhani", sans-serif;
	font-size: 4rem;
	color: white;
}
/*-----------Datos Personales-----------  */
.datos_personales {
	position: fixed;
	top: 117px;
	height: 40px;
	overflow: hidden;
	background-color: white;
	z-index: 100;
}

.datos_personales-title {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 2%;
	height: 40px;
}
.datos_personales_body {
	display: flex;
	flex-direction: column;
}

.datos_personales_img {
	margin: 15%;
	margin-top: 5%;
	margin-bottom: 5%;
	height: 1%;
	border-radius: 50%;
}

.datos_personales-item {
	padding: 10px;
	text-align: justify;
}

.datos_personales-item strong {
	font-size: 1rem;
	text-decoration: underline;
}
.datos_personales_show {
	height: 100%;
}
/* --------------CONTENIDO PRiNCIPAL -------------- */

/* ------------HACERCA DE MI------------- */

.main {
	margin-top: 150px;
	padding: 10px;
}
.main_presentation {
	padding: 15px;
	height: 200px;
	overflow: scroll;
	text-align: center;
	font-size: 1rem;
	box-shadow: -14px -5px 136px 7px rgba(0, 0, 0, 0.75);
	border-radius: 1em;
}
.main_presentation-text {
	padding: 10px;
	text-align: justify;
	font-weight: 400;
}
/* -------Skills---------- */
.skills_content {
	display: flex;
	padding: 10px;
	flex-direction: column;
}
.skills_content_soft h3,
.skills_content_hard h3,
.skills_content_learn h3 {
	display: flex;
	font-size: 2rem;
	justify-content: center;
	margin-bottom: 40px;
	width: 100%;
}
p span {
	color: var(--first_color);
	font-weight: 700;
	font-style: italic;
}

/* --------Soft Skills --------*/
.skills_content_soft {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.skills_content-skill--soft {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: fit-content;
	padding: 10px;
}

.skills_content-skill--soft img {
	display: flex;
	max-width: 200px;
	height: 120px;
	justify-content: center;
	padding: 10px;
}
.skills_content-skill--soft p {
	max-width: 200px;
	align-self: center;
}
/* ---------Hard Skills --------*/
.skills_content_hard {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.skills_content-skill--hard {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 200px;
	width: 25vw;
	height: 15vh;
}
.skills_content-skill--hard img {
	width: 8vw;
	max-width: 100px;
	z-index: 90;
}
.skills_content-skill--hard p {
	z-index: 90;
}
.skills_content-skill-raiting {
	position: absolute;
	height: 13vw;
	width: 16vw;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	opacity: 0;
	background-color: #243a73;
	transition: all 1.5s;
	clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.skills_content-skill-raiting:hover {
	opacity: 1;
}

.skills_content-skill-raiting img {
	height: 10px;
	width: 10px;
}

/* ------------------learn----------- */
.skills_content_learn {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.skills_content-skill--learn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 43%;
	height: 15vh;
	margin-bottom: 0;
}
.skills_content-skill--learn img {
	height: 80px;
}
.skills_content-skill--learn p {
}

/* ---------Formulario----------------- */
.contact {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 4px;
}
/* ----------Footer------------- */
footer {
	font-display: flex;
	align-items: center;
	background-color: var(--first_color);
	color: white;
	position: fixed;
	bottom: 0;
	width: 100%;
}
footer p {
	text-align: center;
}
